@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700&display=swap");
html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5;
  font-family: var --font-family-body, Georgia, sans-serif; }

/* Phone */
@media (min-width: 600px) {
  html {
    font-size: 16px; } }

/* Tablet */
@media (min-width: 1024px) {
  html {
    font-size: 18px; } }

/* Desktop */
@media (min-width: 1600px) {
  html {
    font-size: 20px; } }

body, table, form, select, option, input, textarea {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: var --font-family-headings, Georgia, sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author::before {
  display: inline-block;
  content: '\2019';
  padding-right: 0.5em; }

.site-nav > ul {
  display: flex;
  padding: 0; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em; }

.site-nav li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #EEE;
  text-decoration: none; }

.site-nav li.selected > a,
.site-nav a:hover {
  background: var(--color-link-default);
  color: var(--color-body-bgrd); }

.site-nav a i.fas:before {
  color: #000;
  margin-right: 0.5em; }

.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
  color: #FFF; }

.site {
  max-width: var(--layout-main-width);
  margin: 0 auto;
  padding: 1em;
  background-image: url(https://images.unsplash.com/photo-1546241072-48010ad2862c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
  background-size: cover; }

.site h1 a {
  text-decoration: none;
  color: aliceblue; }

.site-title {
  display: inline-block; }
