<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    {% if page.css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pages/{{ page.css }}.css">
    {% endif %}
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body class="
{% if page.subpageTitle %}page-{{ page.subpageTitle | slugify }}{% endif %}
">
    <div class="site">

        <header class="site-header">
          
            {% if page.home == true %}
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>
            {% else %}
            <p class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </p>
            {% endif %}

            <!-- Navigation bar is in separate file navigation.html -->
          {% if page.home != true %}
            {% include navigation.html location="header" %} 
          {% endif %}
        </header>
      

        {% if page.subpage == true %}
        <p class="page-subtitle">
            <a href="{{ site.baseurl }}/{{page.mainPage}}">back</a>
            <!-- {{page.subpageTitle}} -->
        </p>
        {% endif %}

        <main class="site-main">
                <ul class="gallery">
                        {% for item in page.gallery %}
                        <li{% if item.aspectratio %} class="{{ item.aspectratio }}"{% endif %}>
                        
                                <span><img src="{{ item.file }}&w=300" alt=""></span>
                             
                            
                        </li>
                        {% endfor %}
                    </ul>
        </main>
        <aside class="site-sidebar">
            
        </aside>
        <footer class="site-footer">

                {% if page.title and page.home !=true  %}
                {% include footer.html location="footer" %}
                {% endif %}
            <!-- {% include navigation.html location="footer" %} -->
        </footer>
    </div>

    
</body>
</html>