
@import url('reset.css');
@import url('typography.css');
@import url('navigation.css');

/* start site navigation styling */
.site {
    max-width: 64rem;
    margin: 0 auto;
    padding: 2em 4em;
}


.site-header {
 
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    

    /* border-bottom: 2px solid #369; */
}


.site-title {

    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.1em;
 
}

a {
    text-decoration: none;
    color: #369;
}

img {

    display: flex;
}









/* **************** */
/* phones */


@media (min-width: 600px) {

    html { font-size: 13px}
}

@media (min-width: 1024px) {

    html { font-size: 16px}
}
