@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');


.about {
    // margin: 4rem;
    max-width: 100vw;
    display: grid;
    justify-content: center;
    padding:0;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 0.5em;  
    margin: 0 auto;
    max-width: 50vw;
    color:dimgray;
    /* background: lightgrey; */
    padding: 0.5em;
    position: relative;
}


.about-media{
    grid-column: span 1;
    grid-row: span 1;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    align-self: center;
}

.about-media img {
    display: inline-block;
   width: 100%;
   height: auto;
   position: relative;
}

img:before{
    grid-column: span 1;
    grid-row: span 1;
    position: absolute;
    top: 50%; left: 50%;
    /* width:56.25%; */
    height: 80vh;
    width: 100%;
    content: '';
    overflow: hidden;
    transform: translate(-50%,-50%);
    /* border: 2px solid black; */
    box-shadow: 0px 0px 2px 2px rgba(68,68,68,0.6);
    border-radius: 50px;

}

.about-media-content h2 {
    text-align: center;
    text-transform: uppercase;   
    font-weight: 500;
    font-family: var(--font-family-headings,serif);
  
}

.about-content{
    font-family: var(--font-family-posts);
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 0.3em;   
}

.about-media-content {
    text-align: center; 
}

.about-content:last-child:after {
    display: block;
    position: absolute;
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    border-bottom: darkgrey 1px solid ;
    margin-bottom: -1em;
    margin-left: 2em;
    margin-right: 2em; 
}


@include resolution(tablet) {
    .about-media, .about-media-content{
        grid-column: span 2;
        grid-row: span 1;
    }
}


@include resolution(mobile) {
    .about-media, .about-media-content{
        grid-column: span 2;
        grid-row: span 1;
    }
   
}