@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

.container{
    // margin: 4rem;
    // max-width: 100vw;
    display: grid;
    justify-content: center;
    padding:0;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 0.5em;  
    grid-auto-flow:row dense;
}

.post {
    grid-column: span 2;
    grid-row: span 1;
    /* justify-self: center; */
    margin: 0 auto;
    max-width: 50vw;
    display: flex;
    color:dimgray;
    background: lightgrey;
    padding: 0.5em;
    /* margin-bottom: 1em; */
    position: relative;
}

.post-media{
    display: block;
    overflow: hidden;
    width: 50%;
    height: auto;
    align-self: center;
}

.post-media img {
    display: block;
   width: 100%;
   height: auto;
}

.post:before{
    position: absolute;
    top: 50%; left: 50%;
    /* width:56.25%; */
    height: 100%;
    width: 100%;
    content: '';
    transform: translate(-50%,-50%);
    /* border: 2px solid black; */
    box-shadow: 0px 0px 2px 2px rgba(68,68,68,0.6);

}

.media-content h2 {
    text-align: center;
    text-transform: uppercase;   
    font-weight: 500;
    font-family: 'Cinzel', serif;
}

.media-content{
    display: inline-block;
    width: 50%;
    height: auto;
    position: relative;
    padding-bottom: 0.3em;   
}

.post-content {
    text-align: center;
    padding-left: 2.2em;
    padding-right: 2em; 
    text-align: left;
}

.post-content:after {
    display: block;
    position: absolute;
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    border-bottom: darkgrey 1px solid ;
    margin-top: -1em;
    margin-left: 2em;
    margin-right: 2em; 
}