// @import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|PT+Serif:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

.site-title {
    font-family: var(--font-family-body, sans-serif); 
    color: var(--color-body-text,black) ; 
    margin: 0;

}


.button{
    display: block;
    margin: 0 auto;  
    text-decoration: none;
    justify-content: center;
    padding: 0;
    background-image: url('../images/main-screen.jpg');
    background-size: cover;
    content: '';
    width: 100%;
    height: 60vh;
    outline: 1px solid white;
    opacity:1;
    position: relative;
  

   & p {  
        margin: 0;
        padding: 0.2em;
        font-family: var(--font-family-headings, sans-serif);
        text-transform: uppercase;   
        background-size: cover;
    }

    & .title {
        font-weight: 500;
        font-size: 60px;
        text-align: center;
        color: aliceblue;
         letter-spacing: 5px;
    }

    & .sub-title {
        text-align: center;
        color: aliceblue;
        font-size: 30px;
        text-transform: uppercase;  
    }

    &:hover{
        opacity: 0.7;
        outline: 1px solid  rgb(10, 10, 10);
        // transition: all 0.2s ease-in;
        }  



        @media (max-width:880px){
            & .title {
                font-size: 22px;
            }
        
            & .sub-title {
                font-size: 18px;
            }
        
            &{
                height: 200px;
            }
        
        }
}





