.site-nav {
     display: block;
    //  align-content: flex-end;
}

.site-nav > ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav li:first-child {
    padding-left: 0;
   
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.1em;
    background: #EEE;
    text-decoration: none;
}

.site-nav li.selected > a,
.site-nav a:hover {
    background: var(--color-link-default, rgb(91, 3, 109));
    color: var(--color-body-bgrd, white );
    text-decoration: underline;
}

.site-nav a i.fas:before {
    color: #000;
    margin-right: 0.5em;
}
.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
    color: #FFF;
}
